{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/backoffice/styleshow.css')}}">
{% endblock %}

{% block title %}Thematic index{% endblock %}

{% block body %}
    <h1>Administration</h1>
    
    <div class="button-line">
        <a href="{{ path('app_user_index') }}">Contributeurs</a>
        <a href="{{ path('app_exercice_admin') }}">Exercices</a>
        <a href="{{ path('app_course_admin') }}">Matières</a>
        <a href="{{ path('app_classroom_admin') }}">Classes</a>
        <a href="{{ path('app_thematic_admin') }}">Thématiques</a>
        <a href="{{ path('app_skill_admin') }}">Compétences</a>
        <a href="{{ path('app_source_admin') }}">Origines</a>
    </div>

    <div class="content">
        <div class="head-content">
            <h2>Gestion des thématiques</h2>
            <p>Rechercher une thématique par son nom: </p>
            <div class="search-content">
                <form class='search-bar' action="#" method="GET">
                    <input type="text" name="_content">
                    <button>Rechercher</button>
                </form>
                <a href="{{ path('app_thematic_new') }}">
                    Ajouter 
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5 11V5H13.5V11H19.5V13H13.5V19H11.5V13H5.5V11H11.5Z" fill="white"/>
                    </svg>
                </a>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for thematic in thematics %}
                    <tr>
                        <td>{{thematic.name}}</td>
                        <td class="action">
                            <a href="{{ path('app_thematic_edit', {'id': thematic.id}) }}">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.266 0.875098L9.68262 2.45843H1.95833V13.5418H13.0417V5.81747L14.625 4.23414V14.3334C14.625 14.5434 14.5416 14.7448 14.3931 14.8932C14.2447 15.0417 14.0433 15.1251 13.8333 15.1251H1.16667C0.956704 15.1251 0.75534 15.0417 0.606874 14.8932C0.458407 14.7448 0.375 14.5434 0.375 14.3334V1.66676C0.375 1.4568 0.458407 1.25544 0.606874 1.10697C0.75534 0.958505 0.956704 0.875098 1.16667 0.875098H11.266ZM14.2173 0.162598L15.3375 1.2836L8.0605 8.5606L6.94267 8.56297L6.94108 7.44118L14.2173 0.162598Z" fill="#757575"/>
                                </svg>
                                Modifier
                            </a>
                            {{ include('thematic_admin/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
