<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MathIndex{% endblock %}</title>
        
        <link rel="stylesheet" href="{{asset("css/base.css")}}">
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
      

        <!--========================SIDEBAR========================-->

        <aside>
            <div class="container-option">
                <div class="container-saint-vincent">
                    <img src="image/Saint-Vincent-Senlis4.jpg" alt="#">
                    <ul> 
                        <li>Math  Index</li>
                        <li>Lycée Saint&nbsp;-&nbsp;Senlis</li>
                    </ul>
                </div>
                <ul class="container-link-aside">
                    <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.58948 9.49689L12.5895 2.49689L21.5895 9.49689V20.4969C21.5895 21.0273 21.3788 21.536 21.0037 21.9111C20.6286 22.2862 20.1199 22.4969 19.5895 22.4969H5.58948C5.05904 22.4969 4.55034 22.2862 4.17526 21.9111C3.80019 21.536 3.58948 21.0273 3.58948 20.4969V9.49689Z" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.58948 22.4969V12.4969H15.5895V22.4969" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                        <a href="{{path("home")}}"><p>Accueil</p></a>
                    </li>
                    <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5894 19.7685C16.0077 19.7685 19.5894 16.1868 19.5894 11.7685C19.5894 7.35022 16.0077 3.76849 11.5894 3.76849C7.17114 3.76849 3.58942 7.35022 3.58942 11.7685C3.58942 16.1868 7.17114 19.7685 11.5894 19.7685Z" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.5894 21.7685L17.2894 17.4685" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <a href="{{path("exercice")}}"><p>Recherche</p></a>
                    </li>
                    <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5894 3.0401H5.58942C4.48485 3.0401 3.58942 3.93553 3.58942 5.0401V19.0401C3.58942 20.1447 4.48485 21.0401 5.58942 21.0401H19.5894C20.694 21.0401 21.5894 20.1447 21.5894 19.0401V5.0401C21.5894 3.93553 20.694 3.0401 19.5894 3.0401Z" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.58942 17.0401C11.5894 17.0401 12.3894 16.0401 12.3894 14.2401V10.0401C12.3894 8.04009 13.3894 6.74009 15.5894 7.04009" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.58942 11.2401H15.2894" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>   
                    
                        <a href="{{path("math")}}"><p>Mathématiques</p></a>
                    </li>
                    {% if app.user is not null %}
                    <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.58942 4.31165H21.5894V6.31165H8.58942V4.31165ZM3.58942 3.81165H6.58942V6.81165H3.58942V3.81165ZM3.58942 10.8116H6.58942V13.8116H3.58942V10.8116ZM3.58942 17.8116H6.58942V20.8116H3.58942V17.8116ZM8.58942 11.3116H21.5894V13.3116H8.58942V11.3116ZM8.58942 18.3116H21.5894V20.3116H8.58942V18.3116Z" fill="#757575"/>
                        </svg>
                        <a href="{{path("myExercices")}}"><p>Mes&nbsp;exercices</p></a>
                    </li>
                    <li>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.5895 2.58325L15.5895 22.5833L11.5895 13.5833L2.58948 9.58325L22.5895 2.58325Z" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.5895 2.58325L11.5895 13.5833" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p>Soumettre</p>
                    </li>
                    {% endif %}
                </ul>
            </div>

            {% if app.user is not null %}
                <li id="deconnexion">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                    </svg>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% endif %}
        </aside>

        <!--========================NAVBAR========================-->

        <div class="container-page">

            

            <nav>

                {% if app.user is not null %}
                    <li class="nav_profile">
                        <div class="avatar">
                            <img src="{{ asset('image/pas_guyard.jpg') }}" alt="C'est pas guyard">
                        </div>
                        <ul>
                            <li id="deconnexion">
                                <a href="{{ path('app_user_index') }}">Administration</a>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                </svg>
                            </li>
                            <li id="deconnexion">
                                <a href="{{ path('app_logout') }}">Déconnexion</a>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                                </svg>
                            </li>
                        </ul>


                    </li>
                {% endif %}
                {% if app.user is null %}

                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <a href={{path('connexion') }}>Connexion</a>
                    </li>
                {% endif %}
            </nav>

            


            <!--========================CONTENU PAGES========================-->

            <div class="content-page">
                {% block body %}
                {% endblock %}
            </div>


            <!--========================FOOTER========================-->
            

            <div class="footer">
                <div>
                    <p>Mention&nbsp;légales</p>
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.99999 7.33334C5.84094 7.33334 7.33332 5.84095 7.33332 4C7.33332 2.15906 5.84094 0.666672 3.99999 0.666672C2.15904 0.666672 0.666656 2.15906 0.666656 4C0.666656 5.84095 2.15904 7.33334 3.99999 7.33334Z" fill="#464646"/>
                    </svg>
                    <p>Contact</p>
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.99999 7.33334C5.84094 7.33334 7.33332 5.84095 7.33332 4C7.33332 2.15906 5.84094 0.666672 3.99999 0.666672C2.15904 0.666672 0.666656 2.15906 0.666656 4C0.666656 5.84095 2.15904 7.33334 3.99999 7.33334Z" fill="#464646"/>
                    </svg>
                    <p>Lycée&nbsp;Saint&nbsp;-&nbsp;Vincent</p>
                </div>
            </div>
        </div>

    </body>
</html>
