<link rel="stylesheet" href={{ asset('css/components/Table.css')}}>

{% if data is empty %}
<p>Tableau vide.</p>
{% else %}
<table>
    {% set headnames = {
        'name': 'Nom', 
        'classroom': 'Niveau', 
        'thematic': 'Thématique', 
        'difficulty': 'Difficulté',
        'duration' : 'Durée',
        'keywords' : 'Mots clés',
        'exercise_file': 'Fichiers'} %}
    <thead>
        {% for k, v in data[0] %}
            {% if k in rendered %}
            <td>{{ headnames[k] }}</td>
            {% endif %}
        {% endfor %}
    </thead>

    <tbody>
        {% for obj in data %}
        <tr>
            {% for k, v in obj %}
                {% if k in ['name', 'chapter'] and k in rendered %}
                <td>{{ v }}</td>
                {% endif %}

                {% if k in ['classroom', 'thematic'] and k in rendered %}
                <td>{{ v.getName() }}</td>
                {% endif %}

                {% if k =='difficulty' and k in rendered %}
                <td>Niveau {{ v }}</td>
                {% endif %}

                {% if k =='duration' and k in rendered %}
                <td>{{ v|round(0, 'floor') }}h{{ 60 * (v - v|round(0, 'floor')) }}</td>
                {% endif %}

                {% if k =='keywords' and k in rendered %}
                <td>
                    {% for t in v|split(';') %}
                    <span>{{ t }}</span>
                    {% endfor %}
                </td>
                {% endif %}

                {% if k == 'exercise_file' and k in rendered %}
                <td class="file">
                    <a href={{ obj.exercise_file.name }}.{{ obj.exercise_file.extension }}>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.38594 6.49999H9.4912L6.68419 9.02631L3.87718 6.49999H5.98244V3.97368H7.38594V6.49999ZM8.78945 1.44736H1.77191V11.5526H11.5965V3.97368H8.78945V1.44736ZM0.368408 0.81073C0.368408 0.464625 0.682092 0.184204 1.06946 0.184204H9.4912L13 3.3421V12.1798C13.0006 12.2627 12.9831 12.345 12.9484 12.4218C12.9138 12.4987 12.8626 12.5686 12.7979 12.6277C12.7332 12.6867 12.6562 12.7337 12.5713 12.766C12.4864 12.7983 12.3953 12.8152 12.3031 12.8158H1.06525C0.880954 12.8146 0.70456 12.7483 0.574175 12.631C0.443789 12.5138 0.369878 12.3551 0.368408 12.1893V0.81073Z" fill="#03053D"/>
                        </svg>
                        <p>Exercice</p>
                    </a>
                    <a href={{ obj.correction_file.name }}.{{ obj.correction_file.extension }}>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.38594 6.49999H9.4912L6.68419 9.02631L3.87718 6.49999H5.98244V3.97368H7.38594V6.49999ZM8.78945 1.44736H1.77191V11.5526H11.5965V3.97368H8.78945V1.44736ZM0.368408 0.81073C0.368408 0.464625 0.682092 0.184204 1.06946 0.184204H9.4912L13 3.3421V12.1798C13.0006 12.2627 12.9831 12.345 12.9484 12.4218C12.9138 12.4987 12.8626 12.5686 12.7979 12.6277C12.7332 12.6867 12.6562 12.7337 12.5713 12.766C12.4864 12.7983 12.3953 12.8152 12.3031 12.8158H1.06525C0.880954 12.8146 0.70456 12.7483 0.574175 12.631C0.443789 12.5138 0.369878 12.3551 0.368408 12.1893V0.81073Z" fill="#03053D"/>
                        </svg>
                        <p>Corrigé</p>
                    </a>
                </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}