{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("css/components/Table.css")}}">
{% endblock %}

{% block body %}
    <h1>Mes exercices</h1>
    <div class="content">
        <div class="all-exercice-table">
            <h2>Vous pouvez modifier ou supprimer l'un de vos exercices.</h2>
            <table>
                <thead>
                    <td>Nom</td>
                    <td>Matiére</td>
                    <td>Thématique</td>
                    <td>Fichiers</td>
                    <td>Actions</td>
                </thead>
                <tbody>
                    {% for exercise in exercices %}
                    <tr>
                        <td>{{exercise.name}}</td>
                        <td>{{exercise.difficulty}}</td>
                        <td>{{ exercise.keywords|replace({';': ' '}) }}</td>
                        <td class="exercisefile">
                            <a href={{ exercise.getExerciseFile().getName() }}.{{ exercise.getExerciseFile.getExtension() }}>
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.38594 6.49999H9.4912L6.68419 9.02631L3.87718 6.49999H5.98244V3.97368H7.38594V6.49999ZM8.78945 1.44736H1.77191V11.5526H11.5965V3.97368H8.78945V1.44736ZM0.368408 0.81073C0.368408 0.464625 0.682092 0.184204 1.06946 0.184204H9.4912L13 3.3421V12.1798C13.0006 12.2627 12.9831 12.345 12.9484 12.4218C12.9138 12.4987 12.8626 12.5686 12.7979 12.6277C12.7332 12.6867 12.6562 12.7337 12.5713 12.766C12.4864 12.7983 12.3953 12.8152 12.3031 12.8158H1.06525C0.880954 12.8146 0.70456 12.7483 0.574175 12.631C0.443789 12.5138 0.369878 12.3551 0.368408 12.1893V0.81073Z" fill="#03053D"/>
                                </svg>
                                <p>Exercice</p>
                            </a>
                            <a href={{ exercise.getCorrectionFile.getName() }}.{{ exercise.getCorrectionFile.getExtension() }}>
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.38594 6.49999H9.4912L6.68419 9.02631L3.87718 6.49999H5.98244V3.97368H7.38594V6.49999ZM8.78945 1.44736H1.77191V11.5526H11.5965V3.97368H8.78945V1.44736ZM0.368408 0.81073C0.368408 0.464625 0.682092 0.184204 1.06946 0.184204H9.4912L13 3.3421V12.1798C13.0006 12.2627 12.9831 12.345 12.9484 12.4218C12.9138 12.4987 12.8626 12.5686 12.7979 12.6277C12.7332 12.6867 12.6562 12.7337 12.5713 12.766C12.4864 12.7983 12.3953 12.8152 12.3031 12.8158H1.06525C0.880954 12.8146 0.70456 12.7483 0.574175 12.631C0.443789 12.5138 0.369878 12.3551 0.368408 12.1893V0.81073Z" fill="#03053D"/>
                                </svg>
                                <p>Corrigé</p>
                            </a>
                        </td>
                        <td class="action">
                            <a href="{{exercise.id}}">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.266 2.8751L11.6826 4.45843H3.95833V15.5418H15.0417V7.81747L16.625 6.23414V16.3334C16.625 16.5434 16.5416 16.7448 16.3931 16.8932C16.2447 17.0417 16.0433 17.1251 15.8333 17.1251H3.16667C2.9567 17.1251 2.75534 17.0417 2.60687 16.8932C2.45841 16.7448 2.375 16.5434 2.375 16.3334V3.66676C2.375 3.4568 2.45841 3.25544 2.60687 3.10697C2.75534 2.95851 2.9567 2.8751 3.16667 2.8751H13.266ZM16.2173 2.1626L17.3375 3.2836L10.0605 10.5606L8.94267 10.563L8.94108 9.44118L16.2173 2.1626Z" fill="#757575"/>
                            </svg>
                                <p>modifier</p>
                            </a>
                            <a href="{{exercise.id}}">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1095_4423)">
                                    <path d="M3.16668 6.83325H15.8333V17.1249C15.8333 17.3349 15.7499 17.5362 15.6015 17.6847C15.453 17.8332 15.2516 17.9166 15.0417 17.9166H3.95834C3.74838 17.9166 3.54702 17.8332 3.39855 17.6847C3.25008 17.5362 3.16668 17.3349 3.16668 17.1249V6.83325ZM4.75001 8.41658V16.3333H14.25V8.41658H4.75001ZM7.12501 9.99992H8.70834V14.7499H7.12501V9.99992ZM10.2917 9.99992H11.875V14.7499H10.2917V9.99992ZM5.54168 4.45825V2.87492C5.54168 2.66496 5.62508 2.46359 5.77355 2.31513C5.92202 2.16666 6.12338 2.08325 6.33334 2.08325H12.6667C12.8766 2.08325 13.078 2.16666 13.2265 2.31513C13.3749 2.46359 13.4583 2.66496 13.4583 2.87492V4.45825H17.4167V6.04158H1.58334V4.45825H5.54168ZM7.12501 3.66659V4.45825H11.875V3.66659H7.12501Z" fill="#757575"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1095_4423">
                                    <rect width="19" height="19" fill="white" transform="translate(0 0.5)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                <p>supprimer</p>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}