{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset("css/soumettre.css")}}">
{% endblock %}

{% block body %}
<h1>Soumettre</h1>
<div class="content">
    <form method="post" action="{{path('soumettre')}}">
        <div class="flex">
            <div>
                <h1>Informations générales</h1>
                {{ form_row(form.name) }}
                {{ form_row(form.course) }}
                {{ form_row(form.classroom) }}
                {{ form_row(form.thematic) }}
                {{ form_row(form.chapter) }}
                <button class="continue">Continuer</button>
            </div>

            <div>
                {% if 'skills' in errors %}<span class="error">Veuillez séléctionner au moins 1 compétence</span>{% endif %}
                {{ form_row(form.skills, {'attr': {'class': 'skills-container'}}) }}
                {{ form_row(form.keywords) }}
                {% if 'difficulty' in errors %}<span class="error">Veuillez définir une difficulté</span>{% endif %}
                {{ form_row(form.difficulty) }}
                {% if 'duration' in errors %}<span class="error">Veuillez définir une durée</span>{% endif %}
                {{ form_row(form.duration) }}
            </div>

            {{ form_widget(form._token) }}
            <input type="hidden" name="page" value="1"></input>
        </div>
    </form>
</div>
{% endblock %}
